<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">

    <!-- Servlets -->

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmailServlet</servlet-name>
        <servlet-class>servlet.VerifyEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListServlet</servlet-name>
        <servlet-class>servlet.BlogListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostServlet</servlet-name>
        <servlet-class>servlet.PostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderListServlet</servlet-name>
        <servlet-class>servlet.SliderListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSliderServlet</servlet-name>
        <servlet-class>servlet.EditSliderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderDetailServlet</servlet-name>
        <servlet-class>servlet.SliderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDetailServlet</servlet-name>
        <servlet-class>servlet.PostDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPostServlet</servlet-name>
        <servlet-class>servlet.EditPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonHierarchyServlet</servlet-name>
        <servlet-class>servlet.LessonHierarchyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonListServlet</servlet-name>
        <servlet-class>servlet.LessonListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonDetailsServlet</servlet-name>
        <servlet-class>servlet.LessonDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <servlet-class>servlet.UpdateStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLessonServlet</servlet-name>
        <servlet-class>servlet.AddLessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitLessonServlet</servlet-name>
        <servlet-class>servlet.SubmitLessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToggleLessonStatusServlet</servlet-name>
        <servlet-class>servlet.ToggleLessonStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLessonServlet</servlet-name>
        <servlet-class>servlet.UpdateLessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditLessonServlet</servlet-name>
        <servlet-class>servlet.EditLessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToggleQuizStatusServlet</servlet-name>
        <servlet-class>servlet.ToggleQuizStatusServlet</servlet-class>
    </servlet>

    <!-- Servlet Mappings -->
  
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmailServlet</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListServlet</servlet-name>
        <url-pattern>/BlogListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostServlet</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderListServlet</servlet-name>
        <url-pattern>/slider-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSliderServlet</servlet-name>
        <url-pattern>/edit-slider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderDetailServlet</servlet-name>
        <url-pattern>/slider-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDetailServlet</servlet-name>
        <url-pattern>/postDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPostServlet</servlet-name>
        <url-pattern>/EditPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonHierarchyServlet</servlet-name>
        <url-pattern>/lesson-hierarchy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonListServlet</servlet-name>
        <url-pattern>/LessonListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <url-pattern>/updateStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLessonServlet</servlet-name>
        <url-pattern>/AddLessonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitLessonServlet</servlet-name>
        <url-pattern>/SubmitLessonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToggleLessonStatusServlet</servlet-name>
        <url-pattern>/ToggleLessonStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLessonServlet</servlet-name>
        <url-pattern>/UpdateLessonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditLessonServlet</servlet-name>
        <url-pattern>/EditLessonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToggleQuizStatusServlet</servlet-name>
        <url-pattern>/ToggleQuizStatusServlet</url-pattern>
    </servlet-mapping>
</web-app>