<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
       <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmailServlet</servlet-name>
        <servlet-class>servlet.VerifyEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListServlet</servlet-name>
        <servlet-class>servlet.BlogListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostServlet</servlet-name>
        <servlet-class>servlet.PostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderListServlet</servlet-name>
        <servlet-class>servlet.SliderListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSliderServlet</servlet-name>
        <servlet-class>servlet.EditSliderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderDetailServlet</servlet-name>
        <servlet-class>servlet.SliderDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmailServlet</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListServlet</servlet-name>
        <url-pattern>/BlogListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostServlet</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderListServlet</servlet-name>
        <url-pattern>/slider-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSliderServlet</servlet-name>
        <url-pattern>/edit-slider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderDetailServlet</servlet-name>
        <url-pattern>/slider-detail</url-pattern>
    </servlet-mapping>
</web-app>
